<div class="card">
  <p-toast />
  <p-toolbar class="mb-6">
    <ng-template #start>
      <p-button label="New" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
      <p-button
        severity="danger"
        label="Delete"
        icon="pi pi-trash"
        outlined
        (onClick)="deleteSelectedFaculdades()"
        [disabled]="!selectedFaculdades || !selectedFaculdades.length"
      />
    </ng-template>
    <ng-template #end>
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        auto
        customUpload
        class="mr-2 inline-block"
        [chooseButtonProps]="{ severity: 'secondary' }"
      />
      <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [value]="faculdades"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['id', 'nome', 'endereco']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedFaculdades"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0">Gerenciar Faculdades</h5>
        <p-iconfield>
          <p-inputicon class="pi pi-search" />
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox />
        </th>
        <th pSortableColumn="id" style="min-width: 5rem" class="text-center">
          Id
          <p-sortIcon field="id" />
        </th>
        <th style="min-width: 16rem" class="text-center">
          Nome
        </th>
        <th  style="min-width: 12rem" class="text-center">
          Endereço
        </th>
        <th style="min-width: 10rem" class="text-center">Ações</th>
      </tr>
    </ng-template>

    <ng-template #body let-faculdade>
      <tr>
        <td style="width: 3rem">
          <p-tableCheckbox [value]="faculdade" />
        </td>
        <td style="min-width: 5rem" class="text-center">{{ faculdade.id }}</td>
        <td style="min-width: 16rem" class="text-center">{{ faculdade.nome }}</td>
        <td style="min-width: 12rem" class="text-center">{{ faculdade.endereco }}</td>
        
            <td class="text-center">
          <div class="flex justify-center">
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            (click)="editFaculdade(faculdade)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteFaculdade(faculdade)"
          />
            </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="faculdadeDialog"
    [style]="{ width: '450px' }"
    header="Detalhes do Faculdade"
    [modal]="true"
  >
    <ng-template #content>
      <app-faculdade-cadastro
        *ngIf="faculdadeDialog"
        [faculdade]="faculdade"
        (aoSalvar)="aoSalvarFaculdade()"
        (aoCancelar)="hideDialog()"
      >
      </app-faculdade-cadastro>
    </ng-template>
  </p-dialog>

  <p-confirmdialog [style]="{ width: '450px' }" />
</div>
